DATABASE_URL=******localhost:5432/zurikaribu

NEXTAUTH_SECRET=@Letmein@2007#ForReal
NEXTAUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=1062518877276-2cs7s0rmidam3cq7vic1r0jcviciopcl.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

AWS_ACCESS_KEY_ID=AKIAWAC43GKHGQT2STEQ
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1
AWS_S3_BUCKET=africanfashion-afng

OPENAI_API_KEY=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
DATABASE_URL="******localhost:5432/zurikaribu?schema=public"
